@inherits BlazorLayoutComponent
@using blazor.jwttest.Client.Classes
@inject ApplicationState AppState

<div class="sidebar">
  <NavMenu />
</div>

<div class="main">
  <div class="top-row px-4">
    @if (AppState.IsLoggedIn)
    {
      <p class="m-0 p-2 ml-auto mr-2"><span class="text-info">Logged in as @AppState.UserName</span>&nbsp;&nbsp;<a class="text-primary" href="" onclick="@Logout">Logout</a></p>
    }
    else
    {
      <p class="m-0 p-2 ml-auto mr-2"><a class="text-primary" href="/login">Login</a></p>
    }
  </div>

  <div class="content px-4">
    @Body
  </div>
</div>

@functions {

protected async Task Logout()
{
  await AppState.Logout();
}

}
