
<div style="border: 2px solid red;">
  <input type="checkbox" bind="@InternalCheckedState" />
  <span>I'm the child, click my check box</span>
</div>


@functions {

  private bool _checkedState;

  [Parameter]
  protected bool CheckedState
  {
      get
      {
          return InternalCheckedState;
      }
      set
      {
          _checkedState = value;
          StateHasChanged();
      }
  }

  bool InternalCheckedState
  {
      get
      {
          return _checkedState;
      }
      set
      {
          changeHandler(value);
      }
  }

  [Parameter]
  protected Action<bool> CheckedChanged { get; set; }

  protected override void OnParametersSet()
  {
      base.OnParametersSet();
      StateHasChanged();
  }

  protected void changeHandler(bool Value)
  {
      Console.WriteLine($"Child Changed : {Value}");
      _checkedState = Value;
      CheckedChanged?.Invoke(CheckedState);
  }

}
