
<div style="border: 2px solid red;">
  <input type="checkbox" value="@CheckedState" onchange="@changeHandler" />
  <span>I'm the child, click my check box</span>
</div>


@functions {

  [Parameter]
  protected bool CheckedState { get; set; }

  [Parameter]
  protected Action<bool> CheckedStateChanged { get; set; }

  protected override void OnParametersSet()
  {
    base.OnParametersSet();
    StateHasChanged();
  }

  protected void changeHandler(UIChangeEventArgs args)
  {
    Console.WriteLine($"Child Changed : {args.Value}");
    CheckedState = (bool)args.Value;
    CheckedStateChanged?.Invoke(CheckedState);
    StateHasChanged();
  }

}
