@using Microsoft.AspNetCore.Blazor.Services
@using blazor.jwttest.Shared
@using blazor.jwttest.Client.Classes

@inject HttpClient Http
@inject IUriHelper UriHelper
@inject ApplicationState  AppState

@page "/delete/todo/{todoId}"

<div class="container h-100">

  <br><br><h3 class="display-4 text-center">Are you Sure you want to delete this todo?</h3>
  <p class="lead text-center text-danger">This operation is permenent and cannot be undone.</p>
  <div class="row">
    <div class="col-4"></div>
    <div class="col">
      <button class="btn btn-success btn-block" onclick="@NoClicked">No</button>
    </div>
    <div class="col">
      <button class="btn btn-danger btn-block" onclick="@YesClicked">Yes</button>
    </div>
    <div class="col-4"></div>
  </div>

</div>

@functions {

  [Parameter]
  string TodoId { get; set; }

  private readonly List<string> allowedRoles = new List<string>() { "todoedit" };
  NavigationFailReason failReason = NavigationFailReason.Unknown;

  protected override void OnInit()
  {
    if (!AppState.IsAllowedToNavigate(allowedRoles, out failReason, "/login"))
    {
      if (failReason == NavigationFailReason.RoleNotAllowed)
      {
        UriHelper.NavigateTo("/error403");
        return;
      }
    }
  }

  private async void YesClicked()
  {
    User user = new User();
    user.Id = Convert.ToInt32(TodoId);

    await Http.SendJsonAsync(HttpMethod.Post, "api/todos/delete", user);
    UriHelper.NavigateTo("edit/todos");

  }

  private void NoClicked()
  {
    UriHelper.NavigateTo("/edit/todos");
  }

}

