@using blazor.jwttest.Shared
@page "/edit/users"
@inject HttpClient Http

<h1>Edit Users's</h1>

@if (users == null)
{
  <p><em>Loading list...</em></p>
}
else
{
  <td><a href="/add/user" class="btn btn-success">Add New User</a></td><br/>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var user in users)
      {
      <tr>
        <td>@user.Id</td>
        <td>@user.LoginName</td>
        <td>
          <a href="/edit/user/@user.Id" class="btn btn-sm btn-primary">Edit User</a>
          <a href="/delete/user/@user.Id" class="btn btn-sm btn-danger">Delete User</a>
        </td>
      </tr>
      }
    </tbody>
  </table>
}

@functions {

User[] users;

protected override async Task OnInitAsync()
{
  users = await Http.GetJsonAsync<User[]>("api/users/all");
}

}

