@page "/error500"

<div class="container">
  <div class="row">
    <div class="col-md-3">&nbsp;</div>
    <div class="col-md-6">
      <br />
      <br />
      <h1 class="text-danger text-center">Internal Server Error (500)</h1>
      <h2 class="text-danger text-center">Your request to the server returned a server error, this may be temporary.</h2>
      <br />
      <br />
      <p class="text-info text-center lead">Please wait a while and retry your request, if you continue to see this error for the same thing please inform support.</p>
    </div>
    <div class="col-md-3">&nbsp;</div>
  </div>
</div>
