@using blazor.jwttest.Shared
@using System.Threading;
@page "/"
@inject HttpClient Http

<h1>Todo's List</h1>

@if (todos == null)
{
  <p><em>Loading list...</em></p>
}
else
{
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Done</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var todo in todos)
      {
        <tr>
          <td>@todo.Id</td>
          <td>@todo.Title</td>
          <td>@todo.Done</td>
        </tr>
      }
    </tbody>
  </table>

}

@functions {

Todo[] todos;

private bool showDlg { get; set; } = false;
private Timer _timer;

protected override async Task OnInitAsync()
{
  todos = await Http.GetJsonAsync<Todo[]>("api/todos/all");
}

protected void clickHandler()
{
  showDlg = true;
  _timer = new Timer(TimerCallBack, null, 5000, Timeout.Infinite);

}

void TimerCallBack(object state)
{
  showDlg = false;
  StateHasChanged();
}

}

